<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/javascript/bootstrap.min.js">
    <link rel="stylesheet" href="/javascript/popper.min.js">
    <link rel="stylesheet" href="/javascript/jquery-3.2.1.slim.min.js">
  </head>
  <body>
